* 
{
    margin: 0;
    padding: 0;
}

body {
    background: #1f9385 !important;
    color: #fff !important;
}
.services {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.service-box {
    box-shadow: 0 0 4px 0 #ffa709;
    padding: 15px;
    position: relative;
}

#g {
    font-size: 40px !important;
    margin-bottom: 20px;
   
}



p {
    text-align: justify;
}

a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    display: block;
  text-align: center;
  font-size: 2rem;
   bottom: -20px;
   right: 20px;
   background: linear-gradient(to right, #ff105f, #ffad06);
}


span {
    background: linear-gradient(to right, #ff105f, #ffad06);
    -webkit-background-clip: text;
    color: transparent;
}

a #t {
    color: #fff;
    font-size: 25px !important;
    padding-bottom: 6px;
}
 .oops {
    text-align: center !important;
 }

@media only screen and (max-width:750px) {
   .container {
    padding-top: 40px !important;
    width: 70%;
   }

}